<% provide(:title, 'Online YAML validator') %>
<% provide(:h1, 'Online YAML validator') %>

<div class="row">
  <div class="offset1 span10">
    <%= form_for(@snippet) do |f| %>
    <%= f.text_area :content %>
    <br/><%= f.submit "Validate", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<h2>Result</h2>
<div class="row">
  <div class="offset1 span8">
    <pre><%= @result %></pre>
  </div>
</div>