<% provide(:title, 'Online Data validator') %>

<h2>YAML data:</h2><br/>
<% if @snippet.format == 'yaml' %>
<% flash.each do |key, value| %>
<%= content_tag(:div, value, class: "alert alert-#{key}") %>
<% end %>
<% end %>
<div class="row">
  <div class="offset1 span10">
    <form action="/", method="post">
      <input name="data_format", type="hidden" value="yaml"/>
      <textarea name="data_content"><%= @snippet1.content %></textarea>
      <input type="submit"/>
    </form>
  </div>
</div>

<h2>JSON data:</h2><br/>
<% if @snippet.format == 'json' %>
<% flash.each do |key, value| %>
<%= content_tag(:div, value, class: "alert alert-#{key}") %>
<% end %>
<% end %>
<div class="row">
  <div class="offset1 span10">
    <form action="/", method="post">
      <input name="data_format", type="hidden" value="json"/>
      <textarea name="data_content"><%= @snippet2.content %></textarea>
      <input type="submit"/>
    </form>
  </div>
</div>